# Copy to .env and set your fresh demo database connection.
# https://github.com/dougwhite/gorak/blob/master/docs/getting-started.md
GORAK_BACKEND=local
GORAK_SQL_BACKEND=local
GORAK_VNODE=myvnode
GORAK_DATABASE=disposabledb
